td {
	height: 20px;
	width:20px;
	border: 1px solid black;
}

.spot {
	min-height:50px;
	min-width: 50px;
	border:1px solid gray;
}

/*7 column hack*/
@media {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-xs-1,
  .seven-cols .col-lg-1  {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
	padding:2px;
	*padding:2px;
  }
}